<header class="header">

            <nav class="navbar navbar-toggleable-md navbar-trans navbar-inverse inverse-nav">

          					<button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler-1" aria-controls="navbarToggler-1" aria-expanded="false" aria-label="Toggle navigation">
          						<span class="navbar-toggler-icon"></span>
          					</button>
                    <a class="navbar-brand mob-yes" href="/"><img src="{{ page.base_url }}/assets/img/360x20-logo.svg" /></a>
          					<a class="navbar-brand d-flex justify-content-center mob-no" href="/"><img src="{{ page.base_url }}/assets/img/360x20-logo.svg" /></a>

          					<div class="mob-yes collapse navbar-collapse" id="navbarToggler-1">
          						<ul class="navbar-nav mt-2 mt-md-0">
          							<li class="nav-item mob-yes">
          								<a class="nav-link" href="/#patriots">About Us</a>
          							</li>
                        <li class="nav-item mob-yes">
          								<a class="nav-link" href="/EganJohn-Resume.pdf" target="_blank">Get Involved</a>
          							</li>
                        <li class="nav-item mob-yes">
          								<a class="nav-link" href="#contact">Donate Now</a>
          							</li>
          						</ul>
          					</div>
                    <div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarToggler-1">
          						<ul class="navbar-nav mt-2 mt-md-0">
                        <li class="nav-item d-flex align-items-center">
          								<a class="nav-link" href="#contact">About Us</a>
          							</li>
                        <li class="nav-item d-flex align-items-center">
          								<a class="nav-link" href="#contact">Get Involved</a>
          							</li>
          							<li class="nav-item d-flex align-items-center">
          								<a class="btn nav-btn" href="#contact">Donate Now
          								</a>
          							</li>
          						</ul>
          					</div>

          			</nav>
</header>
