body {

font-family: 'Lato', sans-serif;
font-weight: 300;
color: $blue;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
    font-weight: 400;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.lead {
  padding-bottom: 56px;
}
