$black: rgba(35, 35, 26, 1);
$blue: rgba(49, 62, 80, 1);
$green: rgba(98, 152, 68, 1);
$white: #fff;
$purple: rgba(112, 76, 94, 1);
$brown: rgba(47, 37, 4, 1);
$grey: rgba( $black, .1);
$grey-darker: rgba( $black, .4);
$border: 1px solid $grey;

$shadow: 1px 1px 4px 1px rgba( $black, .05 );

$padding:80px;

$mobile: 414px;

$bradius: 1px;



$desktop:992px;
$yuge:1920px;
